<div class="layui-layout" style="padding-left:40px;margin-top:20px;">
    {{template "comm/remarks.html" .}}
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目地址</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on"
                       placeholder="git@gitlab.etongdai.org:mobileapp/EtongdaiRN.git"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">环境</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/test/environment">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="account"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="psw"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
    {{template "comm/upload_edit.html" .}}
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "ProjectController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json")
        });
        form.render();
    });
</script>