<div class="layui-layout layui-layout-admin" style="padding-left:40px;margin-top: 20px;">
    {{template "comm/remarks.html" .}}
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">环境类型</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="{{.row.Name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">JDK安装路径</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="{{.row.Jdk}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Git安装路径</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="{{.row.Git}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Gradle安装路径</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="{{.row.Gradle}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Adb安装路径</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="{{.row.Adb}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "EnvironmentController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.href = '{{urlfor "EnvironmentController.List"}}'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false
        });
        form.render();
    });
</script>