<div class="layui-layout" style="padding-left:40px;margin-top:20px;">
    {{template "comm/remarks.html" .}}
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/test/project">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">测试名称</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/test/test">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">平台类型</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/type">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">应用名称</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/name">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">包名</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/package">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/version">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本号</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/code">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">环境</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/env">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">构建类型</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/build">管理</a>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">构建渠道</label>
            <div class="layui-input-inline">
                <select name="group_id" lay-verify="required" lay-search="" style="width:100%;">
                    <option value="">请选择所属</option>
                {{range .group}}
                    <option value="{{.id}}">{{.name}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*上级关联</div>
            <div class="layui-btn-group demoTable" style="margin-top:3px;">
                <a class="layui-btn layui-btn-sm layui-btn-normal" data-type="tabAdd"
                   href="/app/channel">管理</a>
            </div>
        </div>
    {{template "comm/upload_edit.html" .}}
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "AppController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json")
        });
        form.render();
    });
</script>