* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
}

#header {
    height: 50px;
    background: #3a3c48;
    width: 80%;
    position: fixed;
    overflow: auto;
}

#img_banner {
    height: 100px;
    width: 80%;
    overflow: auto;
    background-color: #4E5465;
}

#nav {
    height: 50px;
    background: #24252e;
    margin: 1px 0;
}

#content {
    width: 100%;
    overflow: hidden;
}

#content .content-left {
    width: 70%;
    height: 800px;
    background: lightgreen;
    float: left;
}

#content .content-right-sup {
    width: 30%;
    height: 300px;
    background: lightblue;
    float: right;
}

#content .content-right-recommend {
    width: 30%;
    height: 200px;
    background:royalblue;
    float: right;
}

#content .content-right-rank {
    width: 30%;
    height: 200px;
    background: purple;
    float: right;
}

#footer {
    height: 50px;
    background: gray;
    margin-top: 10px;
}