<div class="layui-layout" style="padding-left:40px;margin-top:20px;">
    <div style="margin:10px 0px">
        <blockquote class="layui-elem-quote">
            描述:...
        </blockquote>
    </div>
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">应用名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">应用包名</label>
            <div class="layui-input-inline">
                <input type="text" name="pkg" id="pkg" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">FriendId</label>
            <div class="layui-input-inline">
                <input type="text" name="friendId" id="friendId" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">应用渠道</label>
            <div class="layui-input-inline">
                <input type="text" name="channel" id="channel" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">平台</label>
            <div class="layui-input-inline">
                <select name="platform">
                    <option value="">选择状态</option>
                {{range $k,$v := .platforms}}
                    <option value="{{$k}}" {{if eq $k 1}}selected="selected"{{end}}>{{$v}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="status">
                    <option value="">选择状态</option>
                {{range $k,$v := .statuss}}
                    <option value="{{$k}}" {{if eq $k 1}}selected="selected"{{end}}>{{$v}}</option>
                {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        {{template "comm/submit.html" .}}
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "ChannelController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.href = '{{urlfor "ChannelController.List"}}'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false
        });
        form.render();
    });
</script>