<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="off"
                       placeholder="角色名称" class="layui-input" value="{{.row.name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*登录不允许修改</div>
        </div>

        <div class="layui-form-item layui-form-text layui-col-md6">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea name="detail" id="detail" placeholder="请输入内容"
                          class="layui-textarea">{{.row.detail}}</textarea>
            </div>
        </div>

    {{template "comm/button_edit.html" .}}
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "UserRoleController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.href = '{{urlfor "UserRoleController.List"}}'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false
        });
        form.render();
    });
</script>