<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-btn-group demoTable" style="margin-top: 10px; ">
        <a class="layui-btn" data-type="tabAdd" href="/permission/role/add">新增</a>
        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
    </div>
    <table class="layui-table"
           lay-data="{width: 'full-10', height: 'full-105', url:'/permission/role/table', page:true, id:'idTest'}"
           lay-filter="event">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox',fixed: 'left'}">ID</th>
            <th lay-data="{field:'id', width:80, fixed: true,sort:true}">ID</th>
            <th lay-data="{field:'name', width:100,sort:true}">角色名称</th>
            <th lay-data="{field:'detail', width:200}">备注</th>
        {{template "comm/comm.html" .}}
        </tr>
        </thead>
    </table>

{{template "comm/comm_bar.html" .}}
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['table', 'element', 'layer', 'jquery'], function () {
        var table = layui.table;
        var element = layui.element;
        $ = layui.jquery
        //监听表格复选框选择
        table.on('checkbox(demo)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(event)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                //layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                if (data.id == 1) {
                    layer.msg('超级管理员不允许删除');
                    return false;
                }
                layer.confirm('真的删除【' + data.name + '】账号么', function (index) {
                    var jsData = {'id': data.id}
                    $.post('{{urlfor "UserRoleController.AjaxDel"}}', jsData, function (out) {
                        if (out.status == 0) {
                            layer.alert('删除成功了', {icon: 1}, function (index) {
                                layer.close(index);
                                window.location.reload();
                            });
                        } else {
                            layer.msg(out.message)
                        }
                    }, "json");
                    // obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                window.location.href = "/permission/role/edit?id=" + data.id
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                        , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>