<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{.siteName}}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/comm.css">
    <script src="/static/layui/layui.js"></script>
</head>
<body>