<div class="layui-form-item">
    <label class="layui-form-label">Icon</label>
    <div class="layui-upload-drag layui-input-inline" id="upload">
        <i class="layui-icon"></i>
        <img class="layui-upload-img" id="img" style="width:150px;height:150px;" src="{{.row.File}}">
        <input type="hidden" name="file" id="file" lay-verify="required" autocomplete="off" placeholder="icon"
               class="layui-input" value="{{.row.File}}">
        <p>点击上传,或将文件拖拽到此处</p>
    </div>
    <div class="layui-form-mid layui-word-aux">*支持格式:png|jpg</div>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['layer', 'jquery', 'upload'], function () {
        var $ = layui.jquery;
        var upload = layui.upload

        var xhrOnProgress = function (fun) {
            xhrOnProgress.onprogress = fun;
            return function () {
                var xhr = $.ajaxSettings.xhr();
                if (typeof xhrOnProgress.onprogress !== 'function')
                    return xhr;
                if (xhrOnProgress.onprogress && xhr.upload) {
                    xhr.upload.onprogress = xhrOnProgress.onprogress;
                }
                return xhr;
            }
        }

        upload.render({
            elem: '#upload'
            , url: '/upload'
            , accept: 'file'//'video'|'audio'
            , size: 1024*1024*2//上传最大尺寸限制kb
            ,exts:'png|jpg'//只允许上传png|jpg格式图片
            ,auto:true//自动上传
            ,before:function (obj) {
                obj.preview(function (index,file,result) {
                    $('#img').attr('src',result)
                })
            },done:function (res) {
                if(res.code > 0){
                    return layer.msg('上传失败!');
                }
                $('#file').attr('value',res.message)
            }
            ,error:function () {
                var falseImg = $('#falseImg');
                falseImg.html('<span style="color:#FF5722;">上传失败!</span><a class="layui-btn layui-btn-mini demo-reload"">重试</a>');
                falseImg.find('.demo-reload').on('click',function () {
                    uploadInst.upload();
                })
            }
        });
    });
</script>