<div class="layui-form-item">
    <label class="layui-form-label">Icon</label>
    <div class="layui-upload-drag layui-input-inline" id="uploadFile">
        <i class="layui-icon"></i>
        <img class="layui-upload-img" id="img" style="width:150px;height:150px;" src="{{.row.file}}">
        <input type="hidden" name="file" id="file" lay-verify="required" autocomplete="off" placeholder="icon"
               class="layui-input" value="{{.row.file}}">
        <p>点击上传,或将文件拖拽到此处</p>
    </div>
    <div class="layui-form-mid layui-word-aux">*支持格式:png|jpg</div>
</div>
<input type="hidden" id="id" name="id" value="{{.row.id}}">
<input type="hidden" id="create_id" name="create_id" value="{{.row.createId}}">
<input type="hidden" id="create_time" name="create_time" value="{{.row.createTime}}">
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['layer', 'jquery', 'upload'], function () {
        var $ = layui.jquery;
        var upload = layui.upload
        upload.render({
            elem: '#upload'
            , url: '/upload'
            , accept: 'file'//'video'|'audio'
            , size: 1024//上传最大尺寸限制kb
            ,exts:'png|jpg'//只允许上传png|jpg格式图片
            ,auto:true//自动上传
            ,before:function (obj) {
                obj.preview(function (index,file,result) {
                    $('#img').attr('src',result)
                })
            },done:function (res) {
                if(res.code > 0){
                    return layer.msg('上传失败!');
                }
                $('#file').attr('value',res.message)
            }
            ,error:function () {
                var falseImg = $('#falseImg');
                falseImg.html('<span style="color:#FF5722;">上传失败!</span><a class="layui-btn layui-btn-mini demo-reload"">重试</a>');
                falseImg.find('.demo-reload').on('click',function () {
                    uploadInst.upload();
                })
            }
        });
    });
</script>