<div class="layui-layout" style="padding-left:40px;margin-top:20px;">
    {{template "backstage/comm/remarks.html" .}}
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="on" placeholder="名称"
                       class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*英文，中文</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接</label>
            <div class="layui-input-inline">
                <input type="text" name="link" id="link" autocomplete="on" placeholder="http://xxx" class="layui-input"
                       value="">
            </div>
            <div class="layui-form-mid layui-word-aux">跳转页面链接地址</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-inline">
                <textarea placeholder="请输入内容" name="descript" id="descript" autocomplete="on"
                          class="layui-textarea"></textarea>
            </div>
            <div class="layui-form-mid layui-word-aux">备注</div>
        </div>
    {{template "comm/upload.html" .}}
    </form>
</div>
<script>
    var $;
    layui.config({
        base: "js/"
    }).use(['form', 'element', 'layer', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        form.on('submit(sub)', function (data) {
            var form_data = $("form").serialize()
            $.post('{{urlfor "BannerController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功", {icon: 1}, function () {
                        window.location.reload()
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json")
        });
        form.render();
    });
</script>